@{
    var result = User.Identity.IsAuthenticated.ToString();
    var _name = "Admin";
    if (result == "True")
    {
        _name = User.Claims.ToArray()[BulkyBookWeb.AuthServices.Auth.AuthDataIndex.Name].Value;
    }

}
<p class="h3 fw-bold">Dashboard</p>
<p class="h4"> Welcome, @_name!</p>

<div class="row">
    <div class="col-sm-6 w-50 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Users</h5>
                <p class="card-text h3 fw-bold my-4" id="UserCount"></p>
                <a class="btn btn-primary" asp-controller="User" asp-action="UserView">View Details</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6 w-50 text-center">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Total Books Uploaded</h5>
                <p class="card-text h3 fw-bold my-4" id="BookCount"></p>
                <a class="btn btn-primary" asp-controller="Book" asp-action="Index">View Details</a>
            </div>
        </div>
    </div>
</div>

<p class="h4 mt-3"> User Orders</p>

<div id="loading">
    <div class="spinner-border" role="status"></div>
    <span class="h3 ms-3"> Loading Orders. Please Wait....</span>
</div>
<div id="OrderView"></div>

<div class="modal fade" id="viewOrderDetail" tabindex="-1" aria-labelledby="viewOrderDetailLabel" aria-hidden="true">
    <div class="modal-dialog">
    
            <div id="formholder"></div>
     

    </div>
</div>
@section scripts{
    <script>

        $(function () {
            getDashboardData();
            getOrders();
            
        });
        // To be fixed
        function getDashboardData(){
            $.ajax({
                cache: false,
                url: '@Url.Action("GetCount","Home")',
                success: function (response) {
                    $('#UserCount').empty().append(response.UserCount);
                    $('#BookCount').empty().append(response.BookCount);

                }
            });
         
        }
        
        function getOrders() {
            $.ajax({
                cache: false,
                url: '@Url.Action("_AdminOrderView","Order")',
                beforeSend: function () {

                },
                success: function (response) {
                    $('#loading').empty();
                    $('#OrderView').empty().append(response);
                },
                complete: function () {

                }
            });
        }
        function confirm_delete(id){
            if(confirm("Are you sure want to delete this order?") == true){
                delete_order(id);
            }
        }

        function delete_order(id) {
            $.ajax({
                cache: false,
                url: '@Url.Action("DeleteOrder","Order")',
                data: { id: id },
                success: function (response) {
                    if (response == 1) {
                        alert("Order Deleted");
                    }else{
                        alert("Order Delete Failed");
                    }
                },
                complete: function () {
                    getOrders();
                }
            });
        }

        function load_detail_form(id) {
            console.log(id);
            popup_modalform(id, '#viewOrderDetail', '#formholder', '@Url.Action("_AdminDetailView","Order")');
        }

        function popup_modalform(id, modal, formholder, url) {
            $.ajax({
                cache: false,
                url: url,
                data: { id: id },
                beforeSend: function () {
                    showmodal(modal);
                },
                success: function (result) {
                    $(formholder).empty().append(result);        
                },
                complete: function () {
                }
            });
        }
      

        function showmodal(div) {
            $(div).modal('show');
        }

        function hidemodal() {
            $('#viewOrderDetail').modal('hide');
        }
    </script>
}