@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Weclome To Bulky Book Store</h1>
    <a class="btn btn-light border border-dark rounded mt-5" href="../Book/Index">Check Out Books now</a>
</div>